:root {
  --color-primary: #262626;
  --color-secondary: linear-gradient(
    142deg,
    rgba(155, 35, 234, 1) 0%,
    rgba(247, 112, 98, 1) 100%
  );
  --color-accent: #1a1a1a;
  --color-heading: #fff;
  --color-body: #aaa;
  --icon-color-gradient: url(#icon-gradient);
  --border-radius: 4rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  width: 100%;
}
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: var(--color-primary);
}
h1,
h2,
h3,
h4 {
  color: var(--color-heading);
  font-weight: bold;
}
h1 {
  font-size: 10rem;
}
h2 {
  font-size: 3.6rem;
  margin-bottom: 4rem;
}
h3 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
h4 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
/* Links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-body);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 3rem;
}
/* Icons */
.icon {
  height: 50px;
  width: 50px;
}
.icon--primary {
  fill: var(--color-heading);
}
.icon--secondary {
  fill: var(--icon-color-gradient);
}
/* Buttons */
.btn {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2.4rem 5rem;
  border-radius: 4rem;
  border: 0;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.btn--small {
  padding: 2rem 3.4rem;
}
/* features */
.feature {
  max-width: 26rem;
  border: red;
  text-align: center;
}
.feature__body {
  line-height: 1.5;
}
.feature__title {
  margin-top: 1.6rem;
  /* margin: 0; */
}
/* Images */

.image-cotainer {
  --image-container-border-radius: 3rem;
  border-radius: var(--image-container-border-radius);
  overflow: hidden;
}
.image-cotainer img {
  height: 100%;
  object-fit: cover;
}
.image-cotainer--large {
  height: 55rem;
}
.image-cotainer--small {
  height: 40rem;
}
.image-cotainer--medium {
  height: 50rem;
}
.image-cotainer--shadow {
  background: var(--color-secondary);
  background-repeat: no-repeat;
  background-position: right;
  overflow: visible;
}
.image-cotainer--shadow img {
  transition: transform 1.5s;
  transform: translateX(-12rem) scale(1.1);
  border-radius: var(--image-container-border-radius);
}
/* Inputs */
.input {
  padding: 2.5rem 4.4rem;
  border-radius: var(--border-radius);
  border: 0;
  outline: 0;
}

::placeholder {
  color: #bfbfbf;
}
.input-group {
  display: flex;
  border-radius: var(--border-radius);
  background-color: #fff;
}
.input-group .input {
  flex-grow: 1;
}
.input-group .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/* Cards */
.card {
  width: 36rem;
  height: 57rem;
  text-align: center;
}
.card__heading {
  margin-top: 3.8rem;
}
/* Media */
.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 0;
}

.media__body p {
  width: 20rem;
  margin-top: 0;
  line-height: 2rem;
}
/* Grids */
.grid {
  display: grid;
}
.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}
/* Blocks */
.block {
  padding: 8rem 2rem;
}
.block__header {
  text-align: center;
}
.block__heading {
  margin-top: 0;
}
.block--primary {
  background: var(--color-primary);
}
.block--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.block--accent {
  background: var(--color-accent);
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  margin: 0rem 10rem 2.4rem;
  align-items: center;
}
.nav__brand {
  width: 15rem;
  height: 5rem;
  color: #fff;
}
.nav__list {
  width: auto;
  display: flex;
  font-size: 1.6rem;
}
.nav__item {
  padding: 0.5rem 2.5rem;
}
.nav__item > a {
  color: var(--color-body);
  transition: color 0.3s;
  font-size: 1.4rem;
}

.nav__item > a:hover {
  color: #fff;
}
.header {
  background-image: url(/images/headerbg.jpg);
  background-size: cover;
  width: 100%;
  height: 97rem;
}
.header__content {
  width: 62rem;
  line-height: 12rem;
}
.header__content h1 {
  margin-bottom: 4.5rem;
}

.header__donut {
  position: absolute;
  top: 40rem;
  right: 12rem;
  width: 270px;
  height: 270px;
  margin: auto;
  border-radius: 100%;
  opacity: 0.82;
  background: var(--color-secondary);
  -webkit-mask-image: radial-gradient(transparent 0 90px, #000 90.5px);
  mask-image: radial-gradient(transparent 0 90px, #000 90.5px);
}
.header__overlay {
  position: absolute;
  height: 395px;
  width: 481px;
  top: 0;
}
/* Story */

.story__content {
  margin-right: 5rem;
}
.story__head {
  margin-bottom: 4rem;
}
.story__text {
  width: 55.6rem;
  line-height: 2rem;
}
.story__heading {
  margin-top: 5rem;
  margin-bottom: 3.6rem;
}
.story__image {
  margin-left: 15rem;
}
.story:nth-of-type(even) {
  grid-template-columns: 66.8rem 1fr;
  margin-top: 12rem;
}
.story:nth-of-type(even) .story__content {
  order: 2;
  margin-left: 120px;
}
.story:nth-of-type(even) .story__image {
  margin: 0;
}

.story:nth-of-type(even) .story__text {
  width: 39rem;
}
/* Number */

.number__heading {
  margin-bottom: 2.4rem;
}

/* Block Features */
.callout-block {
  padding-bottom: 2rem;
}
.features-block {
  display: flex;
  justify-content: space-between;
  padding: 0 1.6rem;
}
/* Block Callout */
.callout__content {
  margin: 0 auto;
}
.callout__header p {
  max-width: 96rem;
  margin: 0 auto;
}
.callout__body {
  text-align: center;
}
.callout__btn {
  margin: 4.5rem 0 35rem;
}
.callout__image {
  position: absolute;
  transform: translateY(-270px);
  width: 117rem;
}

/* Block Numbers */
.numbers-block {
  background-image: linear-gradient(
      142deg,
      rgba(155, 35, 234, 0.9) 0%,
      rgba(247, 112, 98, 0.9) 100%
    ),
    url("/images/numbersbg.jpg");
  background-size: cover;
}
.numbers-block .container {
  display: flex;
  justify-content: space-between;
}
/* Block Blog */
.blog__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Block Subscription */
.subscription-block {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.85) 0%,
      rgba(0, 0, 0, 0.85) 0%
    ),
    url(/images/meeting.jpg);
  background-size: cover;
}
.subscription__foot {
  margin-top: 4.4rem;
  text-align: center;
}
.subscription__foot > p {
  margin: 0 auto;
  width: 61rem;
}
/* Block Footer */
.footer {
  padding-top: 8.8rem;
}
.footer__sections {
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.footer__logo {
  width: 11.5rem;
  height: 3rem;
}
.footer a {
  color: var(--color-body);
  transition: color 0.15s;
}
.footer a:hover {
  color: #fff;
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 18rem;
}
