:root {
  --color-primary: #262626;
  --color-secondary: linear-gradient(
    148deg,
    rgba(155, 35, 233, 1) 43%,
    rgba(244, 110, 102, 1) 78%
  );
  --color-accent: #1a1a1a;
  --color-heading: #fff;
  --color-body: #aaa;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: var(--color-primary);
}
h1,
h2,
h3 {
  color: var(--color-heading);
}
h1 {
  font-size: 10rem;
}
h2 {
  font-size: 3.6rem;
  margin-bottom: 4rem;
}
h3 {
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-body);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 3rem;
}
