:root {
  --color-primary: #262626;
  --color-secondary: linear-gradient(
    148deg,
    rgba(155, 35, 233, 1) 43%,
    rgba(244, 110, 102, 1) 78%
  );
  --color-accent: #1a1a1a;
  --color-heading: #fff;
  --color-body: #aaa;
}
