<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate,
      facilis.
    </p>
  </header>
  <svg
    style="width: 0; height: 0; position: absolute"
    aria-hidden="true"
    focusable="false"
  >
    <linearGradient id="icon-gradient" x2="1" y2="1">
      <stop offset="0%" stop-color="#9b23ea" />
      <stop offset="100%" stop-color="#f77062" />
    </linearGradient>
  </svg>

  <div class="media">
    <div class="media__image">
      <svg class="icon icon--secondary">
        <use xlink:href="images/sprite.svg#structure"></use>
      </svg>
    </div>
    <div class="media__body">
      <h4 class="media__title">Cras Sem</h4>
      <p>Errem meliore vive an quem electram eos</p>
    </div>
  </div>
</section>

<section class="block block--accent">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate,
        facilis.
      </p>
    </header>
  </div>
</section>
<section class="block block--secondary">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate,
        facilis.
      </p>
    </header>
  </div>
</section>
