<section class="block block--primary container blog-block">
  <header class="block__header blog__header">
    <h2 class="block__heading">Our Blog</h2>
    <!-- <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate,
        facilis.
      </p> -->
  </header>
  <article class="blog__cards">
    <article class="card">
      <header class="card__header">
        <div class="image-cotainer image-cotainer--medium card__image">
          <img src="images/twomen.jpg" alt="Two gentlgmen watching mobile." />
        </div>
        <h3 class="card__heading">Ornare Elit</h3>
      </header>
      <p class="card__content">Business</p>
    </article>

    <article class="card">
      <header class="card__header">
        <div class="image-cotainer image-cotainer--medium card__image">
          <img
            src="images/laptop.jpg"
            alt="A person using a smartphone with a laptop."
          />
        </div>
        <h3 class="card__heading">Egestas Bibendum</h3>
      </header>
      <p class="card__content">Consultance</p>
    </article>

    <article class="card">
      <header class="card__header">
        <div class="image-cotainer image-cotainer--medium card__image">
          <img
            src="images/manwlking.jpg"
            alt="A person using a smartphone with a laptop."
          />
        </div>
        <h3 class="card__heading">Parturient Venenatis</h3>
      </header>
      <p class="card__content">Business</p>
    </article>
  </article>
</section>
