<section class="block block--accent callout-block">
  <div class="container callout__content">
    <header class="block__header callout__header">
      <h2 class="block__heading">Our Services for You</h2>
      <p>
        Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum
        nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
        Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis
        in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.
      </p>
    </header>
    <div class="callout__body">
      <button class="btn btn--secondary callout__btn">Contact US</button>

      <div class="image-cotainer image-cotainer--large callout__image">
        <img
          src="images/workspace.jpg"
          alt="A person using a smartphone with a laptop."
        />
      </div>
    </div>
  </div>
</section>
