<svg
  style="width: 0; height: 0; position: absolute"
  aria-hidden="true"
  focusable="false"
>
  <linearGradient id="icon-gradient" x2="1" y2="1">
    <stop offset="0%" stop-color="#9b23ea" />
    <stop offset="100%" stop-color="#f77062" />
  </linearGradient>
</svg>
<!-- <svg
  style="width: 0; height: 0; position: absolute"
  aria-hidden="true"
  focusable="false"
>
  <linearGradient id="icon-gradient" x2="1" y2="1">
    <stop offset="43%" stop-color="#9b23e9" />
    <stop offset="78%" stop-color="#f46e66" />
  </linearGradient>
</svg> -->

<svg class="icon icon--primary">
  <use xlink:href="images/sprite.svg#molecular"></use>
</svg>
<svg class="icon icon--secondary">
  <use xlink:href="images/sprite.svg#molecular"></use>
</svg>
