<div style="width: 450px; height: 100vh; margin: 10px auto">
  <div class="image-cotainer">
    <img
      src="images/laptop_smartphone.jpg"
      alt="A person using a smartphone with a laptop."
    />
  </div>
  <div class="image-cotainer image-cotainer--small">
    <img
      src="images/laptop_smartphone.jpg"
      alt="A person using a smartphone with a laptop."
    />
  </div>
  <div class="image-cotainer image-cotainer--medium">
    <img
      src="images/laptop_smartphone.jpg"
      alt="A person using a smartphone with a laptop."
    />
  </div>
  <div class="image-cotainer image-cotainer--large">
    <img
      src="images/laptop_smartphone.jpg"
      alt="A person using a smartphone with a laptop."
    />
  </div>
  <div class="image-cotainer image-cotainer--medium image-cotainer--shadow">
    <img
      src="images/laptop_smartphone.jpg"
      alt="A person using a smartphone with a laptop."
    />
  </div>
</div>
