<section class="block block--secondary numbers-block">
  <div class="container">
    <article class="number">
      <header class="block__header number__head">
        <h2 class="block__heading number__heading">564</h2>
        <p>Projects</p>
      </header>
    </article>
    <article class="number">
      <header class="block__header number__head">
        <h2 class="block__heading number__heading">69</h2>
        <p>Photos</p>
      </header>
    </article>
    <article class="number">
      <header class="block__header number__head">
        <h2 class="block__heading number__heading">564</h2>
        <p>Projects</p>
      </header>
    </article>
    <article class="number">
      <header class="block__header number__head">
        <h2 class="block__heading number__heading">69</h2>
        <p>Photos</p>
      </header>
    </article>
  </div>
</section>
