<section class="block block--primary container story-block">
  <article class="grid grid--1x2 story">
    <div class="story__content">
      <header class="story__head">
        <h2 class="story__heading">Our Story</h2>
        <p class="story__text">
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
      </header>
      <div class="grid grid--1x2 story__media">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--secondary">
              <use xlink:href="images/sprite.svg#structure"></use>
            </svg>
          </div>
          <div class="media__body">
            <h4 class="media__title">Cras Sem</h4>
            <p>Errem meliore vive an quem electram eos</p>
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--secondary">
              <use xlink:href="images/sprite.svg#line-chart1"></use>
            </svg>
          </div>
          <div class="media__body">
            <h4 class="media__title">Parturient</h4>
            <p>Errem meliore vive an quem electram eos.</p>
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--secondary">
              <use xlink:href="images/sprite.svg#pen-ruler1"></use>
            </svg>
          </div>
          <div class="media__body">
            <h4 class="media__title">Venenatis Dolor</h4>
            <p>Errem meliore vive an quem electram eos.</p>
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--secondary">
              <use xlink:href="images/sprite.svg#molecular"></use>
            </svg>
          </div>
          <div class="media__body">
            <h4 class="media__title">Dolor Amet</h4>
            <p>Errem meliore vive an quem electram eos.</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="image-cotainer image-cotainer--medium image-cotainer--shadow story__image"
    >
      <img
        src="images/woman.jpg"
        alt="A person using a smartphone with a laptop."
      />
    </div>
  </article>
  <article class="grid grid--1x2 story">
    <div class="story__content">
      <header class="story__head">
        <h2 class="story__heading">About Us</h2>
        <p class="story__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu
          quam ac nisl iaculis feugiat at at mol metus. Ulmi Donec ex ac,
        </p>
      </header>
      <button class="btn btn--secondary">Read More</button>
    </div>
    <div class="image-cotainer story__image">
      <img
        src="images/laptop_smartphone.jpg"
        alt="A person using a smartphone with a laptop."
      />
    </div>
  </article>
</section>
