<section class="block block--accent subscription-block">
  <div class="container">
    <header class="block__header subscription__head">
      <h2 class="block__heading">Subscribe to Our Newsletter</h2>
      <div class="input-group">
        <input type="email" class="input" placeholder="Your e-mail" />
        <button class="btn btn--secondary">Subscribe</button>
      </div>
    </header>
    <footer class="subscription__foot">
      <p>
        Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus
        commodo, tortor. Morbi leo risus, porta ac consectetur ac, vestibulum at
        eros
      </p>
    </footer>
  </div>
</section>
